html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*section {
min-height: 50vh;
}*/

#about {
  margin-top: 45vh;
  box-sizing: border-box;
}

body {
  background-image: url(/images/background-pattern.svg);
  background-size: cover;
}


.title {
  min-height: 55vh;
  margin-top: 15vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-superclass {
  font-family: "open sans";
  color: #027FF2;
  font-size: 5vw;
  letter-spacing: 3vw;
  text-align: center;
  font-weight: 300;
}

.h2-superclass {
  z-index: -1;
  font-family: "open sans";
  color: #1DFFC2;
  font-size: 25vw;
  letter-spacing: 3vw;
  text-align: center;
  font-weight: 800;
  text-shadow: -21px 24px 17px rgba(80,227,194,0.21);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.h3-superclass {
  font-family: "open sans";
  color: #1DFFC2;
  font-size: 6vw;
  letter-spacing: 16px;
  text-align: center;
  font-weight: 700;
  text-shadow: -10px 10px 17px rgba(80,227,194,0.21);
  padding-top: 200px;
  padding-bottom: 80px;
  margin: 0;
}
.h4-superclass {
  font-family: "open sans";
  color: #027FF2;
  font-size: 4vw;
  font-weight: 700;
  text-shadow: -21px 24px 17px rgba(80,227,194,0.21);

}
.h5-superclass {
  color: #027FF2;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 24px
  magin: 0;
}
.h5-name {
  color: #027FF2;
  font-size: 2vw;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 24px
  magin: 0;
}
.h6-superclass {
  font-family: "open sans";
  color: #FFFFFF;
  font-size: 3vw;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
}

.text-spaceing {
  padding-top: 80px;
  padding-bottom: 152px;
  margin: 0;
  font-family: "open sans";
  font-weight: 300;
  color: #4A4A4A
}
.process-text {
  font-family: "open sans";
  font-weight: 300;
  color: #4A4A4A;
  padding-top: 80px;
  padding-bottom: 152px;
  margin: 0;
  margin-top: 0;
  text-align: center;
}

.footer-text {
  font-family: "open sans";
  font-weight: 300;
  color: #4A4A4A;
  padding-top: 80px;
  margin: 0;
  margin-top: 0;
  text-align: center;
}

.left-text {
  font-size: 2vh;
  font-family: "open sans";
  font-weight: 300;
  color: #4A4A4A;
  text-align: left;
}
.scroll-down{
  font-size: 56px;
  color: #1DFFC2;
  text-align: center;
}

.return-text {
  font-family: "open sans";
  font-weight: 400;
  font-size: 18px;
  color: #4A4A4A;
  z-index: -1;
  margin-top: -24px;
  text-align: center;

}
.return-icon {
  margin-top: 3vw;
  text-decoration: none;
  line-height: 44px;
  display: block;
  list-style: none;
  font-size: 3vw;
  color: #4A4A4A;
  text-align: center;
}
#process {
  text-align: center;
}

.boxcolor {
  background-color: #1DFFC2;
  max-height: 40vw;
}

.button-primary {
  font-family: "open sans";
  color: #FFF;
  background-color: #027FF2;
  border-color: #027FF2; }

  /*Navigation*/

  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand a,
  .brand a:visited {
    text-decoration: none;
  }

  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }



  nav {
    margin: 10px auto;
    font-family: "open sans";
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    display: inline-block;
  }

  nav i {
    display: block;
  }

  nav .separator {
    line-height: 70px;
  }

  nav .separator img {
    display: inline-block;
    vertical-align: middle;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    float: left;
    position: relative;
  }

  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 10px 70px;
    font-size: 23px;
    text-transform: uppercase;
    background: white;
    color: #4A4A4A;
    text-decoration: none;
  }

  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #1DFFC2;
    color: white;
  }

  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }

  nav ul li ul li {
    min-width: 190px;
  }

  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }

  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }

  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    height: 70px;
    width: 70px;
    margin-top: 25px;
  }


  @media only screen and (max-width: 1024px) {
    .nav-mobile {
      display: block;
    }

    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
    nav ul li ul li a {
      padding-left: 30px;
    }

    .nav-dropdown {
      position: static;
    }
    .nav-list-social {
      text-align: center;
      margin: 0;
      padding: 0;
      display: inline-flex;
      position: relative;
    }
  }


  @media screen and (min-width: 1024px) {
    .nav-list {
      display: block !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: blue;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    color: black;
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/*.select{
  opacity: 1;
}

.ovtxt {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.select:hover .overlay {

  opacity:1;
}*/
